<div class="container mt-3">
  <h1>Sample 페이지</h1>

  <div class="card">
    <div class="card-header">회원 정보</div>
    <div class="card-body">
      <h4>기본 정보</h4>
      <ul class="list-group">
        <li class="list-group-item">ID: {{member.id}}</li>
        <li class="list-group-item">이메일: {{member.email}}</li>
        <li class="list-group-item">이름: {{member.name}}</li>
      </ul>

      <h4>개인정보</h4>
      <ul class="list-group">
        <li class="list-group-item">성별: {{member.gender}}</li>
        <li class="list-group-item">생년월일: {{member.birthDate}}</li>
        <li class="list-group-item">전화번호: {{member.phone}}</li>
      </ul>

      <h4>주소 정보</h4>
      <ul class="list-group">
        <li class="list-group-item">주소: {{member.address}}</li>
      </ul>
    </div>
  </div>
</div>


<script defer>
console.log("load sample.html");
alert('안녕하세요 샘플 페이지 입니다.');
</script>
