<!DOCTYPE HTML>
<html>
<head>
  <title></title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" type="text/css" href="webjars/bootstrap/5.3.3/css/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="webjars/font-awesome/6.5.2/css/all.min.css"/>
  <link rel="stylesheet" href="css/main.css"/>
  <script type="text/javascript" src="webjars/bootstrap/5.3.3/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="webjars/font-awesome/6.5.2/js/all.min.js"></script>
</head>
{{>layout/header}}
<body>
<script type="text/javascript"
        src="webjars/bootstrap/5.3.3/js/bootstrap.min.js"></script>
<div class="container">{{>article/article}}</div>

</body>
{{>layout/footer}}
</html>